################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MVVM.Sample/.vs
/MVVM.Sample/MVVM.Sample.WPF/bin
/MVVM.Sample/MVVM.Sample.WPF/obj
/MVVM.Sample/packages